<tr id="<%= dom_id order %>">
  <td>
    <%= order.price %>
  </td>
  <td>
    <%= order.description %>
  </td>
  <td>
    <%= order.line_item_price_ruby %>
  </td>
  <td>
    <%= order.high_value_references_ruby %>
  </td>
</tr>
